<h2><%= @previous_1_month.month %>月份表現</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <% @page3_all["query"]["metrics"].each do |obj| %>
        <th><%= obj %></th>
      <% end %>
      <th>New</th>
      <th>Returing</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>桌機</td>
      <% @page3_desktop["rows"].first.first(6).each do |result|%>
        <td><%= result %></td>
      <% end %>
      <td><%= "#{('%.2f' % (@page3_desktop["rows"].first[-1].to_f/@page3_desktop["rows"].first[0].to_f))}" %></td>
      <td><%= "#{('%.2f' % (1-@page3_desktop["rows"].first[-1].to_f/@page3_desktop["rows"].first[0].to_f))}" %></td>
    </tr>
    <tr>
      <td>手機</td>
      <% @page3_mobile["rows"].first.first(6).each do |result|%>
        <td><%= result %></td>
      <% end %>
      <td><%= "#{('%.2f' % (@page3_mobile["rows"].first[-1].to_f/@page3_mobile["rows"].first[0].to_f))}" %></td>
      <td><%= "#{('%.2f' % (1-@page3_mobile["rows"].first[-1].to_f/@page3_mobile["rows"].first[0].to_f))}" %></td>
    </tr>
    <tr>
      <td>全站</td>
      <% @page3_all["rows"].first.first(6).each do |result|%>
        <td><%= result %></td>
      <% end %>
      <td><%= "#{('%.2f' % (@page3_all["rows"].first[-1].to_f/@page3_all["rows"].first[0].to_f))}" %></td>
      <td><%= "#{('%.2f' % (1-@page3_all["rows"].first[-1].to_f/@page3_all["rows"].first[0].to_f))}" %></td>
    </tr>
  </tbody>
</table>

<h2><%= @previous_1_month.month %>月份表現-桌機</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th><%= @previous_1_month.month %>月使用者</th>
      <th><%= @previous_2_month.month %>月使用者</th>
      <th><%= @previous_1_month.month %>月工作階段</th>
      <th><%= @previous_2_month.month %>月工作階段</th>
    </tr>
  </thead>
  <tbody>
    <% ["1~6","7~12","13~18","19~24", "25~"].each_with_index do |v, i| %>
      <tr>
        <td><%= "#{@previous_1_month.month}/#{v}" %></td>
        <td><%= @basic_data[:pre1][:desktop][:users][i] %></td>
        <td><%= @basic_data[:pre2][:desktop][:users][i] %></td>
        <td><%= @basic_data[:pre1][:desktop][:sessions][i] %></td>
        <td><%= @basic_data[:pre2][:desktop][:sessions][i] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= @previous_1_month.month %>月份表現-手機</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th><%= @previous_1_month.month %>月使用者</th>
      <th><%= @previous_2_month.month %>月使用者</th>
      <th><%= @previous_1_month.month %>月工作階段</th>
      <th><%= @previous_2_month.month %>月工作階段</th>
    </tr>
  </thead>
  <tbody>
    <% ["1~6","7~12","13~18","19~24", "25~"].each_with_index do |v, i| %>
      <tr>
        <td><%= "#{@previous_1_month.month}/#{v}" %></td>
        <td><%= @basic_data[:pre1][:mobile][:users][i] %></td>
        <td><%= @basic_data[:pre2][:mobile][:users][i] %></td>
        <td><%= @basic_data[:pre1][:mobile][:sessions][i] %></td>
        <td><%= @basic_data[:pre2][:mobile][:sessions][i] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= @previous_1_month.month %>月份表現-全站</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th><%= @previous_1_month.month %>月使用者</th>
      <th><%= @previous_2_month.month %>月使用者</th>
      <th><%= @previous_1_month.month %>月工作階段</th>
      <th><%= @previous_2_month.month %>月工作階段</th>
    </tr>
  </thead>
  <tbody>
    <% ["1~6","7~12","13~18","19~24", "25~"].each_with_index do |v, i| %>
      <tr>
        <td><%= "#{@previous_1_month.month}/#{v}" %></td>
        <td><%= @basic_data[:pre1][:all][:users][i] %></td>
        <td><%= @basic_data[:pre2][:all][:users][i] %></td>
        <td><%= @basic_data[:pre1][:all][:sessions][i] %></td>
        <td><%= @basic_data[:pre2][:all][:sessions][i] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr/>
<h2><%= @previous_1_month.month %>月首頁查詢車種</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th><%= @previous_1_month.month %>月事件總數</th>
      <th><%= @previous_1_month.month %>月不重複事件</th>
      <th><%= @previous_2_month.month %>月事件總數</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>搜尋品牌</td>
      <td><%= @event1[:pre1]["搜尋品牌"][0] %></td>
      <td><%= @event1[:pre1]["搜尋品牌"][1] %></td>
      <td><%= @event1[:pre2]["搜尋品牌"][0] %></td>
    </tr>
    <tr>
      <td>搜尋價格</td>
      <td><%= @event1[:pre1]["搜尋價格"][0] %></td>
      <td><%= @event1[:pre1]["搜尋價格"][1] %></td>
      <td><%= @event1[:pre2]["搜尋價格"][0] %></td>
    </tr>
    <tr>
      <td>搜尋車種</td>
      <td><%= @event1[:pre1]["搜尋車種"][0] %></td>
      <td><%= @event1[:pre1]["搜尋車種"][1] %></td>
      <td><%= @event1[:pre2]["搜尋車種"][0] %></td>
    </tr>
  </tbody>
</table>

<h2><%= @previous_1_month.month %>月首頁快速搜尋</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th><%= @previous_1_month.month %>月事件總數</th>
      <th><%= @previous_1_month.month %>月不重複事件</th>
      <th><%= @previous_2_month.month %>月事件總數</th>
    </tr>
  </thead>
  <tbody>
    <% @event_2_pre1.each do |k, v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v[0] %></td>
        <td><%= v[1] %></td>
        <td><%= @event_2_pre2[k][0] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= @previous_1_month.month %>月快速搜尋-廠牌</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th><%= @previous_1_month.month %>月事件總數</th>
      <th><%= @previous_1_month.month %>月不重複事件</th>
      <th><%= @previous_2_month.month %>月事件總數</th>
    </tr>
  </thead>
  <tbody>
    <% @event_3_pre1.first(30).each do |k, v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v[0] %></td>
        <td><%= v[1] %></td>
        <td><%= @event_3_pre2[k].nil? ? 0 : @event_3_pre2[k][0] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= @previous_1_month.month %>月快速搜尋-車型</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th><%= @previous_1_month.month %>月事件總數</th>
      <th><%= @previous_1_month.month %>月不重複事件</th>
      <th><%= @previous_2_month.month %>月事件總數</th>
    </tr>
  </thead>
  <tbody>
    <% @event_4_pre1.first(30).each do |k, v| %>
      <tr>
        <td><%= k %></td>
        <td><%= v[0] %></td>
        <td><%= v[1] %></td>
        <td><%= @event_4_pre2[k].nil? ? 0 : @event_4_pre2[k][0] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr/>
<h2><%= @previous_1_month.month %>月選擇器: 快速找車-年份</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>年</th>
      <th>上限</th>
      <th>下限</th>
    </tr>
  </thead>
  <tbody>
    <% @event_5_pre1.keys.sort.each do |year| %>
      <tr>
        <td><%= year %></td>
        <td><%= @event_5_pre1[year]["搜尋年份上限"] %></td>
        <td><%= @event_5_pre1[year]["搜尋年份下限"].nil? ? 0 : @event_5_pre1[year]["搜尋年份下限"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= @previous_1_month.month %>月服務地區搜尋</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>地區</th>
      <th>次數</th>
      <!-- <th>區域</th> -->
    </tr>
  </thead>
  <tbody>
    <tr class="info"><td>最熱門</td><td></td></tr>
    <% @event_6_pre1.first(4).each do |obj| %>
      <tr>
        <td><%= obj.first %></td>
        <td><%= obj.second %></td>
      </tr>
    <% end %>
    <tr class="info"><td>最不熱門</td><td></td></tr>
    <% @event_6_pre1.last(4).each do |obj| %>
      <tr>
        <td><%= obj.first %></td>
        <td><%= obj.second %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= @previous_1_month.month %>月服務區域搜尋</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>區域</th>
      <th>次數</th>
      <!-- <th>區域</th> -->
    </tr>
  </thead>
  <tbody>
    <tr class="info"><td>最熱門</td><td></td></tr>
    <% @event_7_pre1.first(4).each do |obj| %>
      <tr>
        <td><%= obj.first %></td>
        <td><%= obj.second %></td>
      </tr>
    <% end %>
    <tr class="info"><td>最不熱門</td><td></td></tr>
    <% @event_7_pre1.last(4).each do |obj| %>
      <tr>
        <td><%= obj.first %></td>
        <td><%= obj.second %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= @previous_1_month.month %>月知識專區</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>點擊知識專區</th>
      <th>事件總數</th>
    </tr>
  </thead>
  <tbody>
    <% @event_8_pre1.first(10).each do |obj| %>
      <tr>
        <td><%= obj[1] %></td>
        <td><%= obj[2] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= @previous_1_month.month %>月最新消息</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>點擊最新消息</th>
      <th>事件總數</th>
    </tr>
  </thead>
  <tbody>
    <% @event_9_pre1.first(10).each do |obj| %>
      <tr>
        <td><%= obj[1] %></td>
        <td><%= obj[2] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= @previous_1_month.month %>月右側選單</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th>2月事件總數</th>
      <th>2月不重複事件</th>
      <th>1月事件總數</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>點擊: 回頁首</td>
      <td><%= @event_10_pre1["點擊: 回頁首"][0] %></td>
      <td><%= @event_10_pre1["點擊: 回頁首"][1] %></td>
      <td><%= @event_10_pre2["點擊: 回頁首"][0] %></td>
    </tr>
    <tr>
      <td>點擊: 車輛比較</td>
      <td><%= @event_10_pre1["點擊: 車輛比較"][0] %></td>
      <td><%= @event_10_pre1["點擊: 車輛比較"][1] %></td>
      <td><%= @event_10_pre2["點擊: 車輛比較"][0] %></td>
    </tr>
    <tr>
      <td>點擊: 最近瀏覽</td>
      <td><%= @event_10_pre1["點擊: 最近瀏覽"][0] %></td>
      <td><%= @event_10_pre1["點擊: 最近瀏覽"][1] %></td>
      <td><%= @event_10_pre2["點擊: 最近瀏覽"][0] %></td>
    </tr>
  </tbody>
</table>

<h2><%= @previous_1_month.month %>月 首頁 白金/金質車商點擊</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <!-- <th></th> -->
      <th>活動標籤</th>
      <th>事件總數</th>
      <th>8月事件總數</th>
    </tr>
  </thead>
  <tbody>
    <% @event_11_pre1.first(20).each do |obj| %>
      <tr>
        <td><%= obj[0] %></td>
        <td><%= obj[1] %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= @previous_1_month.month %>月 熱門/成交車商</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <!-- <th></th> -->
      <th>活動標籤</th>
      <th>事件總數</th>
      <th>欄1</th>
    </tr>
  </thead>
  <tbody>
    <% @event_12_pre1.first(20).each do |obj| %>
      <tr>
        <td><%= obj[0] %></td>
        <td><%= obj[1] %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= @previous_1_month.month %>月 熱門/成交車商-長條圖</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <!-- <th></th> -->
      <th><%= @previous_1_month.month %>月事件總數</th>
      <th><%= @previous_1_month.month %>月不重複事件</th>
      <th><%= @previous_2_month.month %>月事件總數</th>
    </tr>
  </thead>
  <tbody>
    <% @event_13_pre1.each do |obj| %>
      <tr>
        <td><%= obj[0] %></td>
        <td><%= obj[1] %></td>
        <td><%= obj[2] %></td>
        <td><%= @event_13_pre2[obj[0]][1] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= @previous_1_month.month %>月手機版車商資料電話點擊</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <!-- <th></th> -->
      <th>活動標籤</th>
      <th><%= @previous_1_month.month %>月事件總數</th>
      <th><%= @previous_2_month.month %>月事件總數</th>
    </tr>
  </thead>
  <tbody>
    <% @event_14_pre1.each do |obj| %>
      <tr>
        <td><%= obj[0] %></td>
        <td><%= obj[1] %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= @previous_1_month.month %>月手機版選擇廠牌</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th><%= @previous_1_month.month %>月事件總數</th>
      <th><%= @previous_1_month.month %>月不重複事件</th>
      <th><%= @previous_2_month.month %>月事件總數</th>
    </tr>
  </thead>
  <tbody>
    <% @event_15_pre1.first(20).each do |obj| %>
      <tr>
        <td><%= obj[0] %></td>
        <td><%= obj[1] %></td>
        <td><%= obj[2] %></td>
        <td><%= @event_15_pre2[obj[0]].first %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2><%= @previous_1_month.month %>月手機版選擇車型</h2>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th><%= @previous_1_month.month %>月事件總數</th>
      <th><%= @previous_1_month.month %>月不重複事件</th>
      <th><%= @previous_2_month.month %>月事件總數</th>
    </tr>
  </thead>
  <tbody>
    <% @event_16_pre1.first(20).each do |obj| %>
      <tr>
        <td><%= obj[0] %></td>
        <td><%= obj[1] %></td>
        <td><%= obj[2] %></td>
        <td><%= @event_16_pre2[obj[0]].nil? ? 0 : @event_16_pre2[obj[0]].first %></td>
      </tr>
    <% end %>
  </tbody>
</table>
