<script>
function setCookie(cname, cvalue) {
    var d = new Date();
    d.setTime(d.getTime() + (1*24*60*60*1000));
    var expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + "; " + expires;
}
function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length,c.length);
        }
    }
    return "";
}
</script>
<%= form_for(@url_builder) do |f| %>
  <% if @url_builder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@url_builder.errors.count, "error") %> prohibited this url_builder from being saved:</h2>

      <ul>
      <% @url_builder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%#= f.label :user_id %><br>
    <%#= f.text_field :user_id %>
  </div> -->
  <div class="field">
    <%= f.label :url, "網站網址 *" %><br>
    <%= f.text_area :url, cols: "60", rows: "1", :required => true, onchange: "onChange('url_builder_url')".html_safe %>
  </div>
  <div class="field">
    <%= f.label :source, "廣告活動來源 *" %><br>
    <%= f.text_field :source, size: "61", :required => true, onchange: "onChange('url_builder_source')".html_safe %>
  </div>
  <div class="field">
    <%= f.label :medium, "廣告活動媒介 *" %><br>

    <%#= f.text_field :medium %>
    <%#= f.text_field :medium %>
    <!-- select_tag(name, option_tags = nil, options = {}) -->
    <%= f.select(:campaign_medium_id, [], {}, {class: "bs-select form-control", "data-live-search" => "true", "data-size" => "6"}) do %>
      <%# [['Google', 1], ['Yahoo', 2], ['電子報', 2]].each do |c| -%>
      <% @campaign_media.each do |medium| -%>
        <%= content_tag(:option, medium.medium, value: medium.id) %>
      <% end %>
    <% end %>
    <script>
      function customize(){
        var medium = prompt("請輸入自訂的廣告活動媒介名稱", "廣告活動媒介");
        if (medium != null && medium != "") {
          $.post("/campaign_media.json", {campaign_medium: {medium: medium}}, function(data, status){
            if(status == "success"){
              location.reload();
            }else{
              alert("加入失敗");
            }
          });
        } else {
          alert("沒有輸入自訂的廣告活動媒介名稱");
        }
      }
    </script>
    <button type="button" onclick="customize();">自訂</button>
  </div>
  <div class="field">
    <%= f.label :name, "廣告活動名稱 *"%><br>
    <%= f.text_field :name, size: "61", :required => true, onchange: "onChange('url_builder_name')".html_safe %>
  </div>
  <div class="field">
    <%= f.label :term, "廣告活動字詞" %><br>
    <%= f.text_field :term, size: "61", onchange: "onChange('url_builder_term')".html_safe %>
  </div>
  <div class="field">
    <%= f.label :content, "廣告活動內容" %><br>
    <%= f.text_field :content, size: "61", onchange: "onChange('url_builder_content')".html_safe %>
  </div>
  <div class="field">
    <%= f.label :start_date, "開始日期" %><br>
    <input type="text" name="url_builder[start_date]" id="url_builder_start_date"
           data-provide='datepicker' data-date-format="yyyy-mm-dd" onchange="onChange('url_builder_start_date')"
           value="<%= @url_builder.start_date.strftime('%Y-%m-%d') if @url_builder.start_date%>">
    <%#= f.datetime_select :start_date %>
    <%#= f.text_field(:start_date, :data-provide => 'datepicker') %>
    <!-- <input type="text" data-provide='datepicker' > -->
  </div>
  <div class="field">
    <%= f.label :end_date, "結束日期" %><br>
    <input type="text" name="url_builder[end_date]" id="url_builder_end_date"
           data-provide='datepicker' data-date-format="yyyy-mm-dd" onchange="onChange('url_builder_end_date')"
           value="<%= @url_builder.end_date.strftime('%Y-%m-%d') if @url_builder.end_date %>">
    <p id="datepicker_warning" class="text-danger" hidden>結束日期不可小於開始日期</p>
    <%#= f.datetime_select :start_date %>
    <%#= f.text_field(:end_date, :data-provide => 'datepicker') %>
    <!-- <input type="text" data-provide='datepicker' > -->
  </div>
  <div class="actions">
    <%#= f.submit %>
    <!-- <input type="submit" name="commit" value="Update Url builder" id="datepicker_submit"> -->
    <%#= f.submit, id: 'create_post' %>
    <%= f.submit %>

  </div>
<% end %>

<script>
["url_builder_url", "url_builder_source", "url_builder_name", "url_builder_term",
 "url_builder_content", "url_builder_start_date", "url_builder_end_date",].forEach(function(item, index){
   var cookie_content = getCookie(item);
   if(cookie_content)
    $("#"+item).val();
})

function onChange(e){
  console.log("Set: " + e +" ,value: " + $("#"+e).val());
  setCookie(e, $("#"+e).val())
}
// $( "textarea, input" ).blur(function(e) {
//   alert( "Handler for .blur() called." + $(e.target).value() );
// });

function check_date_valid(){
  var dStart = new Date($("#url_builder_start_date").val());
  var dEnd = new Date($("#url_builder_end_date").val());
  if(dStart > dEnd) {
    $("#datepicker_warning").show();
    $('input[type="submit"][name="commit"]').prop( "disabled", true );
  } else {
    $("#datepicker_warning").hide();
    $('input[type="submit"][name="commit"]').prop( "disabled", false);
  }
  // console.log(dStart);
  // console.log(dEnd);
};

$("#url_builder_start_date").change(check_date_valid);
$("#url_builder_end_date").change(check_date_valid);

check_date_valid();
</script>
<%= content_for :CSS_PAGE_LEVEL_PLUGINS do %>
   <link href="/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
   <style>
     .bootstrap-select.form-control:not([class*=col-]){
       max-width: 440px;
     }
   </style>
<% end %>

<%= content_for :JS_PAGE_LEVEL_PLUGINS do %>
   <script src="/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<% end %>
<%= content_for :JS_PAGE_LEVEL_SCRIPTS do %>
   <script src="/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<% end %>
