<!-- <p id="notice"><%#= notice %></p> -->
<% ua = @url_builder.url_analytics %>
<ul>
  <li>短網址：<%= ua['id'] %></li>
  <li>長網址：<%= ua['longUrl'] %></li>
  <li>
    Full Time統計
    <%= render "url_analytics", url_analytics:  ua['analytics']['allTime'] %>
  </li>
  <li>
    月統計
    <%= render "url_analytics", url_analytics:  ua['analytics']['month'] %>
  </li>
  <li>
    週統計
    <%= render "url_analytics", url_analytics:  ua['analytics']['week'] %>
  </li>
  <li>
    日統計
    <%= render "url_analytics", url_analytics:  ua['analytics']['day'] %>
  </li>
  <li>
    兩小時統計
    <%= render "url_analytics", url_analytics:  ua['analytics']['twoHours'] %>
  </li>
</ul>

<%#= link_to 'Edit', edit_url_builder_path(@url_builder) %><!-- | -->
<%= link_to 'Back', url_builders_path %>
