<p id="notice"><%= notice %></p>

<h1>Listing Robots</h1>

<table>
  <thead>
    <tr>
      <th>Count</th>
      <th>Target</th>
      <th>Title</th>
      <th>Cs</th>
      <th>Cm</th>
      <th>Cn</th>
      <th>Ul</th>
      <th>Geoid</th>
      <th>Sr</th>
      <th>Vp</th>
      <th>Ua</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @robots.each do |robot| %>
      <tr>
        <td><%= robot.count %></td>
        <td><%= robot.target %></td>
        <td><%= robot.title %></td>
        <td><%= robot.cs %></td>
        <td><%= robot.cm %></td>
        <td><%= robot.cn %></td>
        <td><%= robot.ul %></td>
        <td><%= robot.geoid %></td>
        <td><%= robot.sr %></td>
        <td><%= robot.vp %></td>
        <td><%= robot.ua %></td>
        <td><%= link_to 'Show', robot %></td>
        <td><%= link_to 'Edit', edit_robot_path(robot) %></td>
        <td><%= link_to 'Destroy', robot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Robot', new_robot_path %>
