<p id="notice"><%= notice %></p>

<p>
  <strong>GA編號:</strong>
  <%= @robot.tid %>
</p>

<p>
  <strong>Count:</strong>
  <%= @robot.count %>
</p>

<p>
  <strong>Target:</strong>
  <%= @robot.target %>
</p>

<p>
  <strong>Title:</strong>
  <%= @robot.title %>
</p>

<p>
  <strong>Cs:</strong>
  <%= @robot.cs %>
</p>

<p>
  <strong>Cm:</strong>
  <%= @robot.cm %>
</p>

<p>
  <strong>Cn:</strong>
  <%= @robot.cn %>
</p>

<p>
  <strong>Ul:</strong>
  <%= @robot.ul %>
</p>

<p>
  <strong>Geoid:</strong>
  <%= @robot.geoid %>
</p>

<p>
  <strong>Sr:</strong>
  <%= @robot.sr %>
</p>

<p>
  <strong>Vp:</strong>
  <%= @robot.vp %>
</p>

<p>
  <strong>Ua:</strong>
  <%= @robot.ua %>
</p>

<%= link_to 'Edit', edit_robot_path(@robot) %> |
<%= link_to 'Back', robots_path %>
