<%= form_tag(matrixec_path) do -%>
  <!-- <label>GA代碼-資源</label><br>
  <input type="text" name="matrixec[start_date]" value=""><br> -->
  <label>GA資料檢視號碼ID</label><br>
  <input type="text" value="160319413" name="matrixec[profile_id]" placeholder="128329090" required>(ex: 128329090)
  <hr>
  <label>開始時間</label><br>
  <input type="text" value="2017-12-01" name="matrixec[start_date]" placeholder="2017-12-01" required>(ex: 2017-12-01)<br>
  <label>結束時間</label><br>
  <input type="text" value="2017-12-03" name="matrixec[end_date]" placeholder="2017-12-03" required>(ex: 2017-12-03)
  <hr>
  <label>產生哪些報表</label><br>
  <% @reports.each.with_index do |report, idx| %>
    <%
      options = {
        # disabled: report[:tag] != "_11",
        # checked: report[:tag] == "_11"
        disabled: false,
        checked: false
      }
    %>
    <%= check_box("matrixec[report]", "#{report[:tag]}", options) %>
    <label><%= report[:name] %></label>
    <% if (idx+1)%5==0 %>
      <br/>
    <% end %>
  <% end %>
  <hr>
  <%= submit_tag "載載" %>
<% end %>

<%= image_tag("penguin.jpg") %>
