<%= form_tag "/account_summaries/setup_profile", :class => "form-horizontal" do %>
<%#= form_for @account_summary, :class => "form-horizontal" do %>
  <fieldset>
    <legend>選擇預設設定檔</legend>

    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">帳戶</label>
      <div class="col-lg-10">
        <select class="form-control" name="item" id="item"></select>
        <br />
      </div>
      <label for="select" class="col-lg-2 control-label">資源</label>
      <div class="col-lg-10">
        <select class="form-control" name="web_property" id="web_property"></select>
        <br />
      </div>
      <label for="select" class="col-lg-2 control-label">資料檢視</label>
      <div class="col-lg-10">
        <select class="form-control" name="profile" id="profile"></select>
      </div>

      <!-- <label for="select" class="col-lg-2 control-label">轉換目標</label>
      <div class="col-lg-10">
        <select class="form-control" name="goal" id="goal"></select>
      </div> -->
    </div>

    <%= hidden_field_tag 'id', @account_summary.id %>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <!-- <button type="reset" class="btn btn-default">Cancel</button> -->
        <%= submit_tag "Submit", :class => "btn btn-primary"%>
        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
      </div>
    </div>
  </fieldset>
<% end %>

<%= javascript_tag do %>
function search_obj_by_id(objs, _id){
  for(var idx in objs)
    if(objs[idx].id == _id)
      return objs[idx];
}

function append_options(_id, objs){
  objs.forEach(function(obj){
    $("#"+_id).append("<option value="+ obj.id +">"+ obj.name +"</option>");
  });
}

function reset_profile_options(profiles){
  $("#profile").empty()
  append_options("profile", profiles);
}

function reset_web_property_options(web_properties){
  $("#web_property").empty();
  append_options("web_property", web_properties);

  var selected_web_property_id = $('#web_property :selected').val();
  var selected_web_property = search_obj_by_id(web_properties, selected_web_property_id);
  var profiles = selected_web_property.profiles;
  reset_profile_options(profiles);
}

function reset_item_options(items){
  $("#item").empty();
  append_options("item", items);

  var selected_item_id = $('#item :selected').val();
  var selected_item = search_obj_by_id(items, selected_item_id);
  var web_properties = selected_item.web_properties;
  reset_web_property_options(web_properties);
}

function init_options(account_summary){
  var items = account_summary.items;
  reset_item_options(items)
}



$(function(){
  // var account_summary = window.account_summary;
  var account_summary = <%= @account_summary.jsonString.html_safe %>;
  // var goal = <%#= @goal_json.html_safe %>;
  // append_options("goal", goal.items);

  init_options(account_summary);

  var items = account_summary.items;
  var web_properties = items[0].web_properties;
  $("#item").change(function(){
    var selected_item_id = $('#item :selected').val();
    var selected_item = search_obj_by_id(items, selected_item_id);
    web_properties = selected_item.web_properties;
    reset_web_property_options(web_properties);
  });

  $("#web_property").change(function(){
    var selected_web_property_id = $('#web_property :selected').val();
    var selected_web_property = search_obj_by_id(web_properties, selected_web_property_id);
    var profiles = selected_web_property.profiles;
    reset_profile_options(profiles);
  });
});

<% end %>

<!-- <p>
  <strong>User:</strong>
  <%#= @account_summary.user.email %>
</p>

<p>
  <strong>Jsonstring:</strong>
  <%#= @account_summary.jsonString %>
</p>

<p>
  <strong>Default Profile:</strong>
  <%#= @account_summary.default_profile %>
</p> -->

<%#= link_to 'Edit', edit_account_summary_path(@account_summary) %> <!-- | -->
<%#= link_to 'Back', account_summaries_path %>
